@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="home-slider owl-carousel">
    <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-8 col-sm-12 text-center ftco-animate">
                <span class="subheading">Welcome</span>
                <h1 class="mb-4">Hello Coffe</h1>
                <p class="mb-4 mb-md-5">236 - Hoàng Quốc Việt</p>
            </div>

        </div>
    </div>

</section>